.anticon-right {
  svg {
    stroke: black;
    stroke-width: 100px;
  }
}
.anticon-down {
  svg {
    stroke: black;
    stroke-width: 100px;
  }
}

.ant-select-selection {
  background-color: black;
}
